<div id="<%= dom_id frend1 %>">
  <p>
    <strong>First name:</strong>
    <%= frend1.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= frend1.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= frend1.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= frend1.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= frend1.twitter %>
  </p>

</div>
