

<table class="table table-dark table-striped-columns">
  <thead class="thead-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User id</th>

    </tr>
  </thead>
  <tbody>
    <% @frend1s.each do |frend1| %>
    <% if frend1.user == current_user %>
      <tr>
        <td><%= frend1.first_name %></td>
        <td><%= frend1.last_name %></td>
        <td><%= frend1.email %></td>
        <td><%= frend1.phone %></td>
        <td><%= frend1.twitter %></td>
        <td><%= frend1.user_id %></td>
        <td>
         <%= link_to 'show', frend1, class: 'btn btn-warning' %></td>
         <td> <%= link_to 'Edit', edit_frend1_path(frend1), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', frend1, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
         
      </tr>
      <% end %>
    <% end %>
    
   
  </tbody>
</table>

<%= link_to 'New Friend', new_frend1_path, class: "btn btn-secondary" %>
