<p style="color: green"><%= notice %></p>

<%= render @frend1 %>

<div>
  <%= link_to "Edit this frend1", edit_frend1_path(@frend1) %> |
  <%= link_to "Back to frend1s", frend1s_path %>

  <%= button_to "Destroy this frend1", @frend1, method: :delete %>
</div>
